@use "../../styles/variables";

.content > header {
  border: none;
  overflow-x: hidden;
}

.card {
  background-color: variables.$secondary-color;
  height: 30%;
  width: 90%;
  display: flex;
  justify-content: left;
  border: none;
  margin: 20px 30px;
}

.card > img {
  width: 30%;
  left: 0;
  border: none;
}

.card > ul {
  border: none;
}

.card > ul > li {
  border: none;
}

.content {
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: variables.$secondary-color;
  border: none;
}

.content > header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  border: none;
}

.content header h2 {
  font-size: 1.8rem;
  border: none;
  padding-left: 1rem;
}

.card-header-icons {
  display: flex;
  gap: 8px;
  padding-right: 24px;
  border: none;
}

.platforms {
  background-color: variables.$secondary-color;
  border: none;
  display: flex;
  justify-content: end;
  padding-right: 16px;
  padding-bottom: 16px;
  font-size: 1.3rem;
}

.info {
  display: flex;
  justify-content: start;
  background-color: variables.$secondary-color;
  border: none;
  font-size: 1rem;
  padding-left: 1rem;
}

.number-players {
  display: flex;
  align-items: center;
  border: none;
  background-color: variables.$secondary-color;
  gap: 0.5rem;
  padding-right: 2.5rem;
  justify-content: start;
}

.review-score {
  display: flex;
  align-items: center;
  height: 30px;
  background-color: variables.$secondary-color;
  border: none;
  gap: 0.5rem;
  width: 300px;
  justify-content: start;
}

.description {
  background-color: variables.$secondary-color;
  border: none;
  font-size: 1rem;
  padding-left: 1rem;
  width: 88%;
  align-self: start;
}