@use "../../styles/variables";

nav {
  background-color: variables.$primary-color-accent;
  padding-top: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: 1px solid variables.$secondary-color-accent;
  position: sticky;
  height: 100vh;
}

nav ul {
  margin-top: 15%;
  margin-bottom: auto;
  padding-left: 15%;
}

li {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-items: center;
  font-size: 1.5em;
  border-radius: 4px;

  &:hover {
    background-color: variables.$secondary-color;
    cursor: pointer;
  }
}
