@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  height: 100%;
  width: 100%;
  color: white;
}

body {
  background: linear-gradient(to bottom right, #35155d 50%, #0e2954);
  min-height: 100vh;
  min-width: 100%;
  display: flex;
  flex-direction: column;
  font-size: 1.25rem;
}

footer {
  height: 10vh;
  align-items: center;
  border-top: 0.1em solid white;
  background-color: #252525;
  margin-top: auto;
}
