@use "styles/variables";

.content {
  display: inline-block;
  height: 100vh;
}

.main {
  width: 80%;
  height: 100%;
  float: right;
  overflow: hidden;
  scroll-behavior: smooth;
  overflow-y: scroll;
}


