// Global Colors
$primary-color: #35155d;
$primary-color-accent: #37185e;
$secondary-color: #4d1e87;
$secondary-color-accent: #3d166d;
$grey-color: #252525;
$blue-color: #0e2954;
$white-color: #ffffff;

// Global Fonts
$primary-font: "Roboto", sans-serif;
