

// Global Colors
$primary-color: #35155D;
$primary-color-accent: #37185e;
$secondary-color: #4D1E87;
$secondary-color-accent: #3d166d;
$grey-color: #252525;
$blue-color: #0e2954;

// Global Fonts
$primary-font: 'Roboto', sans-serif;
